body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.site_title {
  display: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.content {
  max-width: 1620px;
  margin: 0 150px 0 150px;
}

.header {
  width: 100%;
  height: 94px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.header_content {
  width: 1620px;
  height: 95px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header_content a {
  padding: 0;
  margin: 0;
}

.logo {
  margin-left: 0;
  width: 59px;
  height: 42px;
  margin-top: 26px;
  cursor: pointer;
  /* background-image: url(assets/images/logo.svg); */
}

.navbar {
  display: flex;
  width: 573px;
  height: 23px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 37px 20px 0 28.6419%;
}

.navbar a {
  color: #333333;
}

.navbar li {
  margin: 0;
}

.navbar li a:hover {
  color: orange;
}

.header_active {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  margin: 0;
  pointer-events: none;
}

.first_screen {
  height: 3000px;
  overflow: hidden;
}

.social_net {
  left: 100px;
  top: 250px;
  position: absolute;
  width: 20px;
  height: 107px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transform: scale(1.3);
}

.social_net li {
  width: 20px;
  height: 20px;
  list-style-type: none;
  cursor: pointer;
  background-repeat: no-repeat;
}

.social_net li:hover {
  opacity: 0.4;
}

footer .content {
  width: 1620px;
}
.social_net li a,
.footer_networks li a {
  display: block;
  width: 100%;
  height: 100%;
}

.instagram {
  background-image: url(assets/icons/instagram.svg);
  background-position: center;
}

.twitter {
  background-image: url(assets/icons/twitter.svg);
  background-position: center;
}

.youtube {
  background-image: url(assets/icons/youtube.svg);
  background-position: center;
}

.vk {
  background-image: url(assets/icons/vk.svg);
  background-position: center;
}

.image-container {
  height: 400px;
}

.slide-container .image-container {
  position: relative;
}

.slide_title {
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 104px;
  color: #fff;
  pointer-events: none;
  text-shadow: 2px 0 0 #808080, -2px 0 0 #808080, 0 2px 0 #808080, 0 -2px 0 #808080, 1px 1px #808080, -1px -1px 0 #808080, 1px -1px 0 #808080, -1px 1px 0 #808080;
}

.first_slide_title{
  left: 220px;
  top: 95px;
}

.second_slide_title{
  left: 650px;
  top: 80px;
}

.third_slide_title{
  left: 950px;
  top: 50px;
}
